<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>3.1.4 copyright 1999-2013, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>FileSorterHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>FileSorter Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.FileSorter</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.4</string>
	<key>CFBundleVersion</key>
	<string>3.1.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 1999-2013, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>467</real>
		<key>savedFrame</key>
		<string>423 118 858 760 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
